header{
	border-bottom: 2px grey solid;
}
#main-header{
	height: 64px;
	margin: 10px;
	display: inline-block;
}
header img{
	display: inline-block;
	height: 50px;
	width: 50px;
}
header h1{
	display: inline-block;
	height: 64px;
	font-size: 50px;
}

div#search-bar{
	display: inline-block;
}

div#account-block{
	display: inline-block;
	float: right;
	margin: 10px;
	padding: 15px;
}

div#account-block input{
	float: left;
}

div#account-block button, div#account-block a{
	float: right;
}

nav{
	position: absolute;
	right: 10px;
	overflow-y: scroll;
	border-left: grey solid 2px;
}

nav .home-side.con {
	margin-top: 10px;
}

nav .home-side.con.hidden{
	display: none;
}

nav span.tag{
    margin: 10px;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
}

nav span.tag:hover{
	background-color: grey;
	color: white;
}

#main_con, nav{
	padding-top: 20px;
	min-height: 500px; 
	border-bottom: grey 2px solid;
}

ul.categories li{
	display: inline-block;
	margin-right: 40px;
	margin-left: 20px;
	padding: 5px;
	cursor: pointer;
}

ul.categories li:hover{
	background-color: grey;
	color: white;
}
