body{
}

input, button, .tag, div, .category{
	border-radius: 5px;
}

h1,h2{
	color: white;
}

header{
	border-bottom: 2px grey solid;
	background-color: #1D6087;
}
#main-header{
	height: 64px;
	margin: 10px;
	color: white;
	display: inline-block;
}
header img{
	display: inline-block;
	height: 50px;
	width: 50px;
}
header h1{
	display: inline-block;
	height: 64px;
	font-size: 50px;
}

div#search-bar{
	background-color: white;
	display: inline-block;
	width: 185px;
	height: 25px;
}

#search-bar > button{
	height: 20px;
	width: 20px;
	/*background: url(../images/magnifying_glass.png) no-repeat;*/
	background: url(/assets/magnifying_glass.png) no-repeat;
	background-size: 100%;
}

div#account-block{
	display: inline-block;
	float: right;
	margin: 10px;
	padding: 15px;
}

div#account-block input{
	float: left;
}

div#account-block button, div#account-block a{
	float: right;
}

nav{
	position: absolute;
	right: 10px;
	overflow-y: scroll;
	border-left: grey solid 2px;
}

nav .home-side.con {
	margin-top: 10px;
}

nav span.tag{
    margin: 10px;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
}

nav span.tag:hover{
	background-color: grey;
	color: white;
}

nav span.tag.active{
	background-color: grey;
	color: white;
}

#main_con, nav{
	padding-top: 20px;
	min-height: 500px; 
	border-bottom: grey 2px solid;
}

#thumb_con{
}

div.lecture-info img{
   width: 200px;
   height: 150px;
}

div.lecture-info h3{
   float: right;
}

div.lecture-info span{
   float: right;
}

.thumbs li{
   width: 400px;
   float: left;
   display: inline-box;
   margin: 30px;
}

ul.categories{
	margin-bottom: 20px;
}

ul.categories li{
	color:white;
	display: inline-block;
	margin-right: 40px;
	margin-left: 20px;
	padding: 5px;
	cursor: pointer;
	background-color: #4F81BD;
}

ul.categories li:hover{
	background-color: #4865B5;
}

ul.categories li.active{
	background-color: #D7DB25;
}

