<ul>

<% @users.each do |user| %>
	<li>
	<%= link_to user.username,"/user/"+user.username %>
	<%= link_to ' edit',"/user/"+user.username+"/edit"%>
	<%= button_to ' delete', "/user/"+user.username,:method => :delete %>
</li>
<%end%>
</ul>
<%= link_to 'new user','/user/new' %>
	<!--%= link_to 'new user', :controller => 'user', :action => 'new' %>
